.black_button {
    width: auto;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
}
.gray_button {
    width: auto;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.black_button,
.gray_button:focus {
    outline: none;
}

.black_button:hover {
    background-color: #161616;
}
.gray_button:hover {
    background-color: #d4d4d4;
}
