.start_now {
    height: 300px;
    padding: 20px 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 30px;

    justify-content: space-between;
}
.img {
    height: 300px !important;
}
.redirect {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    word-spacing: 2px;
    user-select: none;
}
.upperText {
    font-size: 50px;
    line-height: 72px;
    margin-bottom: 10px;
}
.bottomText {
    color: #374151;
    font-size: 18px;
    font-family: 'Inter', serif;
    margin-bottom: 15px;
    font-weight: lighter;
}
