@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
.container {
    display: flex;
    height: 48px;
    background: ffffff;
    font-family: 'Bricolage Grotesque', sans-serif;
    align-items: center;
    margin-bottom: 18px;
    user-select: none;
}
.nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-decoration: none;
}
.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    user-select: none;
}
